@model CemeteryWeb.Models.SearchModel

<script>
	function searchGrave(e) {
		var valName = $("#Name").val();
		var valSurname = $("#Surname").val();
		var valSector = $("#Sector").val();
		var valRow = $("#Row").val();
		var valNumber = $("#Number").val();

		if (valName != "" || valSurname != "" || valSector != "" || valRow != "" || valNumber != "")
			$.ajax({
				type: "POST",
				url: '/Search/SearchGrave',
				data: { namePerson: valName, surnamePerson: valSurname, sector: valSector, row: valRow, number: valNumber },
				success: function (data, textStatus, jqXHR) {
					$('#graveInfo').html(data);
				},
				error: function (a, b, c) {
					alert("Wystąpił bład podczas pobierania danych. Proszę skonatkować się ze wsparciem aplikacji")
				}
			});
	}

	function showGraveData(e) {

		$.ajax({
			type: "POST",
			url: '/Search/ShowGraveData',
			data: { graveDetails: e },
			success: function (data, textStatus, jqXHR) {
				$('#graveInfo').html(data);
			},
			error: function (a, b, c) {
				alert("Wystąpił bład podczas wyszukiwania danych. Proszę skonatkować się ze wsparciem aplikacji")
			}
		});
	}

	function readPolygon() {

		$.ajax({
			type: "POST",
			url: '/Map/Polygon_Read',
			//dataType: 'json',
			//data: { nameCategory: val },
			success: function (data, textStatus, jqXHR) {

				//alert(data);
				if (data == null) {
					return
				}

				polygons = [];

				data.forEach(addPolygon);

				//drawPolygons();
			},
			error: function (a, b, c) {
				alert("Wystąpił bład podczas zaczytywania kształtów. Proszę skontaktować się ze wsparciem aplikacji")
			}
		});
	}

	function importPolygon() {

		$.ajax({
			type: "POST",
			url: '/Map/ImportGraveDetails',
			//dataType: 'json',
			//data: { nameCategory: val },
			success: function (data, textStatus, jqXHR) {

				alert(data.message);

			},
			error: function (a, b, c) {
				alert("Wystąpił bład podczas importu kształtów. Proszę skontaktować się ze wsparciem aplikacji")
			}
		});
	}

	function addPolygon(item) {

		if (item.Points.length == 2) {

			polygons.push(new L.rectangle([[item.Points[0].X, item.Points[0].Y], [item.Points[1].X, item.Points[1].Y]],
				{
					className: item.Name,
					color: 'gray',
					weight: 1,
					fillColor: '#888',
					fillOpacity: 0.5
				}).addTo(map));
		}
		//polygon.Push(item);
		

		//var polygon = L.polygon([
	//	[51.641654, 15.06276],
	//	[51.641677, 15.063522],
	//	[51.640702, 15.063548],
	//	[51.640735, 15.06284]
	//], {
	//		color: 'black'
	//		//fillColor: '#f03',
	//		//fillOpacity: 0.5
	//}).addTo(map);
	}

	function drawPolygons() {

	}
</script>

<div class="row">
	<div class="col-md-7">
		<h3>Mapa</h3>
		<div id="map" style="height: 600px">

			@*<div class="leaflet-control-container">
				<div class="leaflet-bottom leaflet-right">
					<div class="leaflet-control-attribution leaflet-control">
						<a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> | Map data © <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>
					</div>
				</div>
			</div>*@
		</div>
		<input type="checkbox" id="cb-map-bright" name="cb-map-bright" value="">&nbsp;pokaż warstwe jasna&nbsp;&nbsp;<input type="checkbox" id="cb-map-showshapes" name="cb-map-showshapes" value="">&nbsp;pokaż obrysy
	</div>
	<div class="col-md-5">
		<div class="row">
			<div class="col-md-10">
				<h3>Wyszukiwarka Osób Zmarłych</h3><br />
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Name, htmlAttributes: new { placeholder = "Wprowadź imię", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					@Html.LabelFor(m => m.Surname, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Surname, htmlAttributes: new { placeholder = "Wprowadź nazwisko", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					@Html.LabelFor(m => m.Sector, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Sector, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					@Html.LabelFor(m => m.Row, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Row, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					@Html.LabelFor(m => m.Number, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
					@Html.TextBoxFor(m => m.Number, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<button class="btn btn-md" type="button" onclick="importPolygon()">Importuj kształty do bazy</button>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<button class="w-100 btn btn-md" type="button" onclick="readPolygon()">Zaczytaj kształty</button>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-2">
				<button class="w-100 btn btn-md btn-primary" type="button" onclick="searchGrave()">Wyszukaj</button>
			</div>
		</div>
		<br /><br />
		<div class="row">
			<div id="graveInfo" class="col-md-11">

			</div>
		</div>
	</div>
</div>

<script>
	var map = L.map('map').setView([51.64144, 15.06161], 17.8);

	var prevZoom = map.getZoom();

	var latLngBounds = L.latLngBounds([[51.64168, 15.062754], [51.640705, 15.063543]]);

	var polygons = [];

	var r1 = L.rectangle([[0, 0], [0, 0]]);

	var imageOverlayMarks = L.imageOverlay('/Images/aerial-custom-bright.jpg', latLngBounds, {
		opacity: 0.8,
		//errorOverlayUrl: errorOverlayUrl,
		//alt: altText,
		interactive: true
	});

	var imageOverlay = L.imageOverlay('/Images/aerial-custom.jpg', latLngBounds, {
		opacity: 0.8,
		//errorOverlayUrl: errorOverlayUrl,
		//alt: altText,
		interactive: true
	});

	map.on('zoomend', function (e) {
		//debugger;
		var currZoom = map.getZoom();
		var diff = prevZoom - currZoom;
		if ((currZoom == 20) && $("#cb-map-bright").is(":checked")) {

			if (map.hasLayer(imageOverlay)) {
				map.removeLayer(imageOverlay);
			}

			imageOverlayMarks.addTo(map);
		}

		if (currZoom == 19) {

			if (map.hasLayer(imageOverlayMarks)) {
				map.removeLayer(imageOverlayMarks);
			}

			imageOverlay.addTo(map);
		}

		if (diff > 0) {
			//alert('zoomed out: ' + currZoom);
		} else if (diff < 0) {
			//alert('zoomed in: ' + currZoom);
		} else {
			//alert('no change');
		}
		prevZoom = currZoom;
	});

	L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 22,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

	//var polygon = L.polygon([
	//	[51.641654, 15.06276],
	//	[51.641677, 15.063522],
	//	[51.640702, 15.063548],
	//	[51.640735, 15.06284]
	//], {
	//		color: 'black'
	//		//fillColor: '#f03',
	//		//fillOpacity: 0.5
	//}).addTo(map);

	//var imageUrl = 'https://maps.lib.utexas.edu/maps/historical/newark_nj_1922.jpg';
	//var imageUrl = '/Images/aerial-custom.jpg';
	//var latLngBounds = L.latLngBounds([[51.64168, 15.062754], [51.640705, 15.063543]]);

	//var imageOverlay = L.imageOverlay('/Images/aerial-custom.jpg', latLngBounds, {
	//	opacity: 0.8,
	//	//errorOverlayUrl: errorOverlayUrl,
	//	//alt: altText,
	//	interactive: true
	//}).addTo(map);

	imageOverlay.addTo(map);

	var rect = L.rectangle(latLngBounds,
		{
			color: 'black',
			weight: 1
			//fillColor: '#f03',
			//fillOpacity: 0.5
		}).addTo(map);

	//Initial onMapClick version
	//function onMapClick(e) {

	//	var cont = r1.getBounds().contains(e.latlng);

	//	if (cont) {
	//		r1.setStyle({ fillColor: 'red' });
	//	}
	//	else {
	//		r1.setStyle({ fillColor: '#888' });
	//	}

	//	alert("You clicked the map at " + e.latlng + ". " + cont);
	//}

	function onMapClick(e) {

		polygons.every(p => {

			if (p.getBounds().contains(e.latlng) == true) {
				p.setStyle({ fillColor: 'red' });
				//alert("Współrzędne " + e.latlng + "\r" + "Grób: " + p.options.className);
				showGraveData(p.options.className);
				return false;
			}
			else {
				p.setStyle({ fillColor: '#888' });
				return true;
			}

		});
	}

	map.on('click', onMapClick);

	//showShapes();

	function showShapes() {

		r1 = L.rectangle([[51.641449, 15.062839], [51.641433, 15.062881]],
			{
				color: 'gray',
				weight: 1,
				fillColor: '#888',
				fillOpacity: 0.5
			}).addTo(map);

		var r2 = L.rectangle([[51.641428, 15.06284], [51.641413, 15.062881]],
			{
				color: 'gray',
				weight: 1,
				fillColor: '#888',
				fillOpacity: 0.5
			}).addTo(map);
	}
</script>