@model List<CemeteryWeb.Models.GravePersonDetailModel>

<style>
	#searchresult td {
		padding : 20px;
	}
</style>
@if (Model != null)
{
	<div class="row">
		<div class="col-md-10">
			<h3>Znaleziono osób: <span style="color: red">@Model.Count()</span></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table id="searchresult">
				<tr>
					<td>Zdjęcie</td>
					<td>Imię i nazwisko</td>
					<td>Data urodzenia</td>
					<td>Rok urodzenia</td>
					<td>Data śmierci</td>
					<td>Rok śmierci</td>
					<td>Sektor</td>
					<td>Rząd</td>
					<td>Numer</td>
					<td>Akcja</td>
				</tr>
				@foreach (var item in Model)
				{

					<tr>
						<td>
							<a target="_blank" href='..\GravePhotos\@item.FileName'><img src="..\GravePhotos\@item.FileName" width="180" /></a>
						</td>
						<td>
							<h4><span>@item.Name @item.Surname</span></h4>
						</td>

						@if (item.YearBirth == null)
						{
							<td><h4><span>@(((DateTime)item.DateBirth).ToShortDateString())</span></h4></td>
							<td></td>
						}
						else
						{
							<td></td>
							<td><h4><span>@item.YearBirth</span></h4></td>
						}
						@if (item.YearDeath == null)
						{
							<td><h4><span>@(((DateTime)item.DateDeath).ToShortDateString())</span></h4></td>
							<td></td>
						}
						else
						{
							<td></td>
							<td><h4><span>@item.YearDeath</span></h4></td>
						}
						<td><h4><span>@item.LocationAttributeTwo</span></h4></td>
						<td>
							<h4><span>@item.LocationAttributeThree</span></h4>
						</td>
						<td>
							<h4>
								<span>
									@item.LocationAttributeFour
								</span>
							</h4>
						</td>
						<td>
							<button onclick="editGrave('@item.Id');">Edytuj</button>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>
}

<script>
	@*$(document).ready(function () {

		unselectGraves();

		var foundGraves = @Html.Raw(Json.Encode(Model));

		foundGraves.forEach(showGravesOnTheMap);
	});*@

	function editGrave(graveId) {

		window.location.href = '@Url.Action("Edit", "Grave")/' + graveId;
	}
</script>