@model CemeteryWeb.Models.GraveEditModel

@{
	Layout = "~/Views/Shared/_Administration.cshtml";
}

@using (Html.BeginForm())
{
	@Html.HiddenFor(m => m.Id)

	<div class="row">
		<div class="col-md-5">
			<div class="form-group">
				@Html.LabelFor(m => m.PersonGrave.Name, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
				@Html.TextBoxFor(m => m.PersonGrave.Name, htmlAttributes: new { placeholder = "Wprowadź imię", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				@Html.LabelFor(m => m.PersonGrave.Surname, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
				@Html.TextBoxFor(m => m.PersonGrave.Surname, htmlAttributes: new { placeholder = "Wprowadź nazwisko", @style = "padding: 7px; width: 250px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				@Html.LabelFor(m => m.AttributeTwo, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
				@Html.TextBoxFor(m => m.AttributeTwo, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				@Html.LabelFor(m => m.AttributeThree, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
				@Html.TextBoxFor(m => m.AttributeThree, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				@Html.LabelFor(m => m.AttributeFour, htmlAttributes: new { @class = "control-label", @style = "color:gray" })<br />
				@Html.TextBoxFor(m => m.AttributeFour, htmlAttributes: new { placeholder = "Wprowadź", @style = "padding: 7px; width: 100px; border:1px solid lightgray;border-radius:3px;border-color:lightgray" })
			</div>
		</div>
	</div>

	<div class="row">
		@foreach (var photoFile in Model.PhotoList)
		{
			<div class="col-md-2" style="margin: 1em">
				<a target="_blank" href='..\..\GravePhotos\@photoFile'><img src="..\..\GravePhotos\@photoFile" width="180" /></a>
			</div>
		}
	</div>

}
